{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <meta http-equiv="refresh" content="1">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/jquery-3.2.1.min.js' %}" ></script>
        <title>GreenHouse</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light"  style="background-color: #4CAF50;">
            <span class="navbar-brand mb-0 h1">GreenHouse</span>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                      <img class="card-img-top" src="https://is.alicdn.com/img/pb/160/978/246/1273041362361_hz_fileserver2_2803397.jpg" alt="Ventilador">
                      <div class="card-body">
                        <h4 class="card-title">
                            {{ water }}
                        </h4>

                      </div>
                    </div>

                </div>
                <div class="col-4">
                    <div class="card">
                      <img class="card-img-top" src="http://www.ggs-greenhouse.com/images/lights.jpg" alt="Ventilador">
                      <div class="card-body">
                        <h4 class="card-title">{{ light }}</h4>

                      </div>
                    </div>

                </div>
                <div class="col-4">
                    <div class="card">
                      <img class="card-img-top" src="https://sc02.alicdn.com/kf/HTB19D8CKVXXXXbrXFXXq6xXFXXXL/JHF-40-stainless-steel-circulation-fan-for.jpg_350x350.jpg" alt="Ventilador">
                      <div class="card-body">
                        <h4 class="card-title">{{ fan }}</h4>

                      </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    {% include 'list_view.html' %}
                </div>
            </div>
        </div>
    </body>
</html>
